/*Small phones */

@media (max-width: 600px){ 
   
    .menu{
        display: none;
    }

    /*blob*/

    .shape-blob {
        background:#FFDDC5;
        height: 150px;
        width: 150px;
        border-radius: 30% 50% 20% 40%;
        animation: 
            transform 20s ease-in-out infinite both alternate,
            movement_one 40s ease-in-out infinite both;
        opacity:.7;
        position: absolute;
        left: 80%;
        top: 80%;
        box-shadow: 0 0 15px rgba(255, 221, 197, 0.3), 0 0 30px rgba(255, 221, 197, 0.3);

    }
    .shape-blob.one{
        height: 190px;
        width: 190px;
        left: -10vw;
        top: 90%;
        margin-bottom: 20%;
        transform: rotate(-180deg);
        animation: transform 30s ease-in-out infinite both alternate, movement_two 60s ease-in-out infinite both;
    }

    /* end of blob */

        /* first */
        .intro, .desc{
            /*font-size: 2.7vw;*/
            font-size: 1.4rem;
            font-family: RobotoSlab;
        }
    
        .name{
            /*font-size: 7.8vw;*/
            font-size: 4rem;
            font-family: SerifDisplay;
        }
    
        .intro{
            transform: translateY(4.5rem);
        }
    
        .desc{
            transform: translateY(-4rem);
        }

        .dropdown{
            height: 5vw;
        }
    
        /* end of first */

        /* mobile menu */

    button {
        display: flex;
        align-items: center;
        height: 100%;
        border: 0;
        background: transparent;
        cursor: pointer;
        color: #fefefe;
        font-size: 16px;
        font-family: "Cambria";
    }
    
    .split-button {
        position: relative;
        display: flex;
        align-items: center;
        align-content: flex-end;
        height: 60px;
        border-radius: 8px;
        width: 180px;
        margin-left: auto;
    }
    
    .split-button > button:nth-child(1) {
        padding: 0 24px;
    }
    
    .split-button > button:nth-child(2) {
        width: 60px;
        background: #0000002e;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    
    .main-menu {
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 68px;
        z-index: 1;
        width: 100%;
        translate: -30px 0;
        opacity: 0;
        visibility: hidden;
        border-radius: 8px;
        background: #161616;
        transition: 0.4s;
        transform: translateX(40%);
    }
    
    .main-menu.open {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        margin-left: 25px;
    }
    
    .main-menu > button {
        gap: 10px;
        border: 0;
        border-radius: 0;
        width: 100%;
        height: 56px;
        padding: 0 18px;
    }
    
    .main-menu > button:hover {
        background: #00000042;
    }
    
    .chevron {
        margin-left: 130px;
    }

}